.custom-input-number .ant-input-number-handler-wrap
    display: none

.custom-input-number .ant-input-number-handler
    display: flex
    align-items: center
    justify-content: center
    width: 20px
    height: 20px

    &-up
        border-top: 1px solid #d9d9d9


    &-down
        border-bottom: 1px solid #d9d9d9


.custom-input-number .ant-input-number-handler-up-text,
.custom-input-number .ant-input-number-handler-down-text
    display: none

.custom-input-number .ant-input-number-handler-up .anticon,
.custom-input-number .ant-input-number-handler-down .anticon
    font-size: 15px

.custom-input-number .ant-input-number-handler-up .anticon
    margin-top: -3px

.custom-input-number .ant-input-number-handler-down .anticon
    margin-top: 3px

.custom-input-number
    background-color: #f6c7ff
    border-radius: 2px
    border: 0

.custom-input-number-button
    padding: 0 20px

    &:hover
        transition: all 400ms ease-in-out
        transform: translateY(-3px)

        .anticon svg
            color: #f5aaff



.custom-input-number-button-stopOutline  
    padding: 0 20px
    cursor: no-drop